<c-card class="mb-4">
  <c-card-header class="wallets-header">
    Wallets
    <ng-container *ngTemplateOutlet="verticallyCentered" />
  </c-card-header>
  <c-card-body>
    <table cTable [hover]="true" [striped]="true">
      <thead cTableColor="dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Chain</th>
        <th scope="col">Description</th>
        <th scope="col">Wallet</th>
      </tr>

      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>&#64;mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>&#64;fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colSpan="2">Larry the Bird</td>
        <td>&#64;twitter</td>
      </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>


<ng-template #verticallyCentered>
  <button [cModalToggle]="verticallyCenteredModal.id" cButton color="dark">New</button>
  <c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
    <form cForm [formGroup]="newWalletForm" (ngSubmit)="onSubmit()">
    <c-modal-header>
      <h5 cModalTitle>New Wallet</h5>
      <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <div class="row g-3">
        <c-col md="4">
          <label cLabel for="chain">Blockchain</label>
          <select id="chain" aria-label="Default select example" cSelect>
            <option value="ETHER">ETHER</option>
            <option value="SOL">SOLANA</option>
            <option value="BSC">BSC</option>
          </select>
        </c-col>
        <c-col md="8">
          <label cLabel for="description">Description</label>
          <input cFormControl id="description" type="text" />
        </c-col>
        <c-col md="12">
          <label cLabel for="wallet">Wallet</label>
          <input cFormControl id="walletHash" type="text" placeholder="insert your wallet here" />
        </c-col>
      </div>
      </c-modal-body>
      <c-modal-footer>
        <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
          Close
        </button>
        <button cButton type="submit" color="primary">Save</button>
      </c-modal-footer>
    </form>
  </c-modal>
</ng-template>
