<c-card class="mb-4">
  <c-card-header>
    Blockchain Settings
  </c-card-header>
  <c-card-body>
    <form cForm class="row g-3" [formGroup]="blockchainSettingsForm" (ngSubmit)="onSubmit()">
      <c-form-check>
        <label cFormCheckLabel for="etherscanToken">EtherScan Token</label>
        <br/>
        <input cFormCheckInput formControlName="useEtherscan" type="checkbox" (change)="onChangeCheckbox('useEtherscan','etherscanToken')" />
        <input cFormControl formControlName="etherscanToken" id="etherscanToken" type="text" placeholder=""/>
      </c-form-check>
      <c-form-check>
        <label cFormCheckLabel for="solscanToken">SolScan Token</label>
        <br/>
        <input cFormCheckInput formControlName="useSolscan" type="checkbox" (change)="onChangeCheckbox('useSolscan','solscanToken')"/>
        <input cFormControl formControlName="solscanToken" id="solscanToken" type="text" placeholder=""/>
      </c-form-check>
      <c-form-check>
        <label cFormCheckLabel for="bscscanToken">BSCScan Token</label>
        <br/>
        <input cFormCheckInput formControlName="useBscscan" type="checkbox" (change)="onChangeCheckbox('useBscscan','bscscanToken')"/>
        <input cFormControl formControlName="bscscanToken" id="bscscanToken" type="text" placeholder=""/>
      </c-form-check>
      <c-col xs="12">
        <button cButton type="submit">Save</button>
      </c-col>
    </form>
  </c-card-body>
</c-card>
