<c-card class="mb-4">
  <c-card-header>
    User Settings
  </c-card-header>
  <c-card-body>
    <form cForm class="row g-3" [formGroup]="userSettingsForm" (ngSubmit)="onSubmit()">
      <c-col md="12">
        <label cLabel for="fullName">Full Name</label>
        <input cFormControl id="fullName" type="text" formControlName="fullName"/>
      </c-col>
      <c-col md="6">
        <label cLabel for="email">Email</label>
        <input cFormControl id="email" type="email" formControlName="email" placeholder="youremail@gmail.com" />
      </c-col>
      <c-col xs="6">
        <label cLabel for="phone">Phone</label>
        <input cFormControl id="phone" formControlName="phone" placeholder="+55 47 99999-9999" />
      </c-col>
      <c-col xs="12">
        <p>*User information is optional but we recommend to have at least one contact method</p>
      </c-col>
      <c-col xs="12">
        <button cButton type="submit">Save</button>
      </c-col>
    </form>
  </c-card-body>
</c-card>

